.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.form {
  border-style: dashed;
  border-radius: 20px;
  position: relative;
  padding: 15vh 38.5vh;
  background-color: #FFF;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
