@import url("https://fonts.googleapis.com/css?family=Overlock:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Barlow:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Karla:regular,bold,italic&subset=latin,latin-ext");

:root {
  --color-primary: black;
  --color-btn-background: whitesmoke;
  --color-secondary: rgb(235, 235, 235);
  --color-additional: rgb(92, 92, 92);
  --color-additional-2: rgb(208, 208, 208);
  --color-additional-3: rgb(122, 122, 122);
  --color-special: #cdc62b;
  --primary-font-name: "Overlock";
  --logo-font-name: "Barlow";
  --secondary-font-name: "Karla";
}

body {
  background-color: rgb(225, 225, 225);
  margin: 0;
  font-family: var(--primary-font-name);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  transition: background-color 0.5s;
}

body::-webkit-scrollbar {
  width:10px;
  background-color:#424242;
}

body::-webkit-scrollbar-track {
  background-color:#424242
}

body::-webkit-scrollbar-thumb {
  background-color:#8e8e8e;
  border:1px solid #424242;
  border-radius: 5px;
}

.app-container {
  max-width: 960px;
  margin: 40px auto;
  padding-right: 15px;
  padding-left: 15px;
}

.back {
  overscroll-behavior: contain;
  padding-bottom: 0 !important;
  min-height: 100%;
}


.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
  pointer-events: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  color:white;
}

.sidenav .form {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}



