@import url("https://fonts.googleapis.com/css?family=Overlock:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Barlow:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Karla:regular,bold,italic&subset=latin,latin-ext");

:root {
  --color-primary: black;
  --color-btn-background: whitesmoke;
  --color-secondary: rgb(235, 235, 235);
  --color-additional: rgb(92, 92, 92);
  --color-additional-2: rgb(208, 208, 208);
  --color-additional-3: rgb(122, 122, 122);
  --color-special: #cdc62b;
  --primary-font-name: "Overlock";
  --logo-font-name: "Barlow";
  --secondary-font-name: "Karla";
}

body {
  background-color: rgb(225, 225, 225);
  margin: 0;
  font-family: var(--primary-font-name);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  transition: background-color 0.5s;
}

body::-webkit-scrollbar {
  width:10px;
  background-color:#424242;
}

body::-webkit-scrollbar-track {
  background-color:#424242
}

body::-webkit-scrollbar-thumb {
  background-color:#8e8e8e;
  border:1px solid #424242;
  border-radius: 5px;
}

.app-container {
  max-width: 960px;
  margin: 40px auto;
  padding-right: 15px;
  padding-left: 15px;
}

.back {
  overscroll-behavior: contain;
  padding-bottom: 0 !important;
  min-height: 100%;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
  pointer-events: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  color:white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.sidenav .form {
  padding: 50px;
}

.sidenav .form .logo {
  width: 45px;
  height: 50px;
}

.sidenav .form .auth-header {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 82.5%;
  padding: 0 35px;
  border: none;
  outline: none;
  background-color: black;
  color:white;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  font-size: 16px;
  transition: all 0.2s ease;
}

.input-field input:is(:valid) {
  border-bottom-color: white;
}

.input-field input:is(:focus) {
  border-bottom-color: var(--color-special);
}

.input-field .auth-icon {
  z-index: 200;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
}

.input-field input:is(:valid) ~ .auth-icon {
  color: white;
}

.input-field input:is(:focus) ~ .auth-icon {
  color: var(--color-special);
}

.left-icon {
  left: 0;
}

.right-icon {
  right:0;
}

.form .form-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.input-checkbox input {
  margin: 0 8px -2px 4px;
  accent-color: var(--color-special);
}

.form a.text {
  color: var(--color-special);
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .text {
  color: var(--color-additional-2);
  font-size: 14px;
}

#main {
  transition: margin-right 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}



