.accordion-menu {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
  }
  
  .accordion-menu li:last-child .accordion {
    border-bottom: 0;
  }
  
  ul {
    list-style: none;
  }
  
  .accordion {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 2px solid #2d374d;
    color: #999;
    position: relative;
    margin-right: 60px;
  }

  .form {
    margin-top: 65px;
  }