.accordion-menu {
    margin: 100px auto 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
  }
  
  .accordion-menu li:last-child .dropdown {
    border-bottom: 0;
  }
  
  ul {
    list-style: none;
  }
  
  .dropdown {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 2px solid #2d374d;
    color: #999;
    position: relative;
    transition: all 0.4s ease-out;
  }
  
  .dropdown:hover {
    background: #566f82;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#27455c), to(#273a47));
  }
  
  .content {
    display: none;
    background: #2d374d;
  }

  .content li.active .content {
    display: block;
  }

  .accordion-menu li.active .dropdown {
    color: #fff;
  }

  .accordion-menu li.active .dropdown .arrow-break {
    transform: rotate(180deg);
  }